<!-- base.html doc which contains the overall general and similar markup and styling -->
{% load bootstrap4 %}
{% bootstrap_css %} <!-- django-bootstrap4  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- font awesom for all fa fa classes -->
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet"> <!-- google fonts used for GRAM logo -->
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}"> <!-- connected to accounts app css -->
    <link rel="stylesheet" href="{% static 'home/styles.css' %}"> <!-- connected to home app css -->
    <title>{% block title %} base title {% endblock title %}</title>
</head>
<body class="bg-light">
    <nav>
    {% block nav %}
        {% if request.user.is_authenticated %}
          <nav class="container navbar fixed-top mx-auto navbar navbar-expand navbar-light bg-white">
            <a class="navbar-brand logo" href="{% url 'home:home' %}">GRAM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline mx-auto searchform">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
              </form>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <div class="btn-group">
                    <a class="authuser nav-link dropdown rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="{{ request.user.profile.profile_photo.url }}" width="30" height="30" class="d-inline-block align-top rounded-circle profilephoto">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="{% url 'accounts:profile' request.user.username %}"><i class="fa fa-user-circle-o"></i> Profile</a>
                      <a class="dropdown-item" href="{% url 'accounts:edit' %}"><i class="fa fa-cog"></i> Settings</a>
                      <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:signout' %}">Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          {% endif %}
    {% endblock nav %}
    </nav>

    <article>
        {% block article %}
        {% endblock article %}
    </article>

    <section>
      {% block section %}
      {% endblock section %}
    </section>

{% bootstrap_javascript jquery='full' %}
  <script src="{% static 'accounts/script.js' %}"></script>
  <script src="{% static 'home/scripts.js' %}"></script>
  <script type="text/javascript">
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
  const csrftoken = getCookie('csrftoken');
</script>
</body>
</html>