{% extends 'home/base.html' %}

{% block title %} comments {% endblock title %}

{% block article %}
    {% for comment in comments %}
    <div class="list-group mt-5">
        <button type="button" class="list-group-item bg-light text-left">
            <img class="rounded-circle" src="{{comment.author.profile.profile_photo.url}}" style="max-height: 45px; max-width: 35px;">
            <a href="{% url 'accounts:profile' comment.author %}" class="text-dark text-decoration-none">{{comment.author}}</a> 
            <span class="text-muted">{{comment.text}}</span>
        </button>
    </div>
    {% endfor %}
{% endblock article %}