{% extends 'home/base.html' %}

{% block title %} Gram {% endblock title %}

{% block article %}

{% for post in posts %}
<div class="mx-auto mt-5 card bg-white" style="max-width: 540px">
    <div class="card-header bg-white">
        <img src="{{post.author.profile.profile_photo.url}}" class="card-img-top rounded-circle" style="max-height: 45px; max-width: 35px;">
        <a href="{% url 'accounts:profile' post.author %}" class="text-dark text-decoration-none">{{post.author}}</a>
    </div>
    <img src="{{post.photo.url}}" class="card-img-top">

    <div class="card-body cardlikecom">

      {% if request.user not in post.likes.all %}
        <i class="likepost fa fa-heart-o mb-2" data-post="{{post.id}}" style="color: black;"></i> 
      {% else %}
        <i class="unlike fa fa-heart mb-2" data-post="{{post.id}}" style="color: red; font-size: 23px;"></i>
      {% endif %}

      <a class="text-dark" href="{% url 'home:comments' post.caption %}"><i class="fa fa-comment-o mb-2 ml-3"></i></a>

      <span class="pull-right bookmarkicon"><i class="fa fa-bookmark"></i></span>
      <p class="card-text likesCount" data-post="{{post.id}}">
        {{post.number_of_likes}} 
          {% if post.likes.count == 1 %}
            like 
          {% else %} 
            likes 
          {% endif %} 
      </p>
      <p class="card-text"><a href="{% url 'accounts:profile' post.author %}" class="text-dark">{{post.author}}</a> <span class="text-muted">{{post.caption}}</span></p>
       <!-- comments -->
      <hr class="border bg-dark" style="height: 2px;"> 
      <div class="input-group">
        <input type="text" class="form-control rounded comment" placeholder="Add a comment..." data-post="{{post.id}}" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span><button class="btn btn-outline-primary addcomment" data-post="{{post.id}}">Post</button></span>
        </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock article %}