{% extends 'home/base.html' %}
{% load bootstrap4 %}
{% block title %}{% endblock title %}

{% block article %}
<div class="d-flex justify-content-center mt-5">
    <form method="post" class="form w-75" enctype="multipart/form-data"> 
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-4 w-100">Post</button>
      </div>
    </form>
  </div>
{% endblock article %}