{% extends 'home/base.html' %}
{% load bootstrap4 %}

{% block title %}Edit Profile . Gram {% endblock title %}

{% block article %}
<!-- edit profile form centered with a width of 50 percent -->
<div class="d-flex justify-content-center mt-5">
  <form method="post" class="form w-75" enctype="multipart/form-data"> 
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form profile_form %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mb-4 w-100">Submit</button>
    </div>
  </form>
</div>
{% endblock article %}