{% extends 'home/base.html' %}

{% block title %} {{user.username}} {% endblock title %}

{% block article %}
<div class="profilecard card mb-3 mx-auto mt-5 bg-light border-0" style="max-width: 500px;">
    <div class="row no-gutters">
      <div class="col-sm-4">
        <img src="{{user.profile.profile_photo.url}}" class="card-img rounded-circle w-75">
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">{{user.username}} 

            <!-- deals with following and follow of a profile -->
              {% if request.user in user.profile.followers.all %} <!-- show following button if user is following profile, handled with ajax to prevent page reload  -->
                <span><button class="following btn btn-sm btn-light border" data-profile="{{user.id}}">Following</button></span> 
              {% else %}
                {% if request.user.id != user.id %} <!-- if current user is not current profile, show follow button -->
                  <span><button class="follow btn btn-sm btn-primary" data-profile="{{user.id}}">Follow</button></span>
                {% else %} <!-- else is current user is current profile, show edit profile button -->
                  <a class="btn btn-light border" href="{% url 'accounts:edit' %}">Edit Profile</a> 
                  <i class="fa fa-cog"></i></span> 
                  <br><a class="text-dark" href="{% url 'home:post' %}"><i class="fa fa-plus-square-o"></i></a>
                {% endif %}
              {% endif %}
            </h5>
            <!-- end -->

          <p class="card-text">
            <span>{{user.post_set.count}} 
              {% if user.post_set.count == 1  %} post 
                {% else %} posts
              {% endif %}
            </span> 
            <span class="followers_number" data-profile="{{user.id}}">
            {{user.profile.followers.count}} 
              {% if user.profile.followers.count == 1 %} follower 
                {% else %} followers 
              {% endif %}
              </span>
              <span>{{following}} following</span>
          </p>
          <p class="card-text text-muted">{{user.profile.bio}}</p>
        </div>
      </div>
    </div>

{% endblock article %}

{% block section %}
<ul class="container nav nav-tabs font-weight-bold mt-5">
  <li class="nav-item mx-auto">
    <a class="nav-link active" href="#"><i class="fa fa-table"></i> POSTS</a>
  </li>
</ul>

<div class="container mx-auto">
  <div class="card-deck">
    {% for post in posts %}
        <div class="deleteimage card mt-5 bg-light" data-postID="{{post.id}}">
           <img class="card-img-top" src="{{ post.photo.url }}" height="290px" width="290px">
           {% if request.user.id == user.id %}
            <btn class="deletepost text-center text-danger" data-postID="{{post.id}}">delete</btn>
          {% endif %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="card-deck">
      {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock section %}