{% extends 'home/base.html' %}
{% load bootstrap4 %}

{% block title %}Sign In{% endblock title %}

{% block article %}
<h2 class="text-center mt-5 logo">GRAM</h2>

<!-- signupform centered with a width of 50 percent -->
<div class="d-flex justify-content-center">
  <form method="post" class="form w-50"> 
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mb-4 w-100">Log In</button>
    </div>
  </form>
</div>
<p class="text-center">Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
{% endblock article %}
