{% extends 'home/base.html' %}
{% load bootstrap4 %}

{% block title %}Sign Up{% endblock title %}

{% block article %}
<h2 class="text-center mt-3 logo">GRAM</h2>
<p class="text-muted text-center">Sign up to see photos and videos <br> from your friends</p>

<!-- signupform centered with a width of 50 percent -->
<div class="d-flex justify-content-center">
  <form method="post" class="form w-50"> 
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mb-4 w-100">Sign up</button>
    </div>
  </form>
</div>
<p class="text-center">Have an account? <a href="{% url 'accounts:signin' %}">Log in</a></p>
{% endblock article %}
