* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Grand Hotel', cursive;
}

.ajaxfollowing, .ajaxfollow {
    display: none;
}

.fa-plus-square-o {
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .profilecard img {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .profilecard  {
        text-align: center;
    }
}