* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 65px;
}

.fa-home {
    font-size: 23px;
}

.fa-heart-o, .fa-comment-o {
    font-size: 24px;
    margin-left: 5px;
}

.bookmarkicon {
    font-size: 18px; 
}

.profilephoto {
    height: 23px;
}

.authuser, .cardlikecom {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    body {
        font-size: 13px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .logo {
        font-size: 15px;
    }
    .searchform {
        width: 100px;
    }
    card {
        width: 75%;
    }
}
